<!DOCTYPE html>
<html>
<body>

    <form action="/" method="post">
        <button name="action" type="submit" value="motorOn">Motor On</button>
        <button name="action" type="submit" value="motorOff">Motor Off</button>
        <button name="action" type="submit" value="leftMotor">Left Motor</button>
        <button name="action" type="submit" value="rightMotor">Right Motor</button>
        <button name="action" type="submit" value="stopMotors">Stop Motors</button>
    </form>
    <h4>motorsEnabled: {{motorsEnabled}}</h4>

</body>
</html>