</html>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="../static/style.css">

    <title>Robot Driving UI V1</title>
</head>
    <body>
        <div class='row no-margin no-padding'>
            <div class='col-6 no-padding'>
                <img id='livestream' width=100%>
            </div>
            <div class='col-1'>
                <canvas id="lidarGraph" width="700" height="700"></canvas>
                <h3>Pixel Size: </h3>
                <input type="text" id="pixelSizeInput">
            </div>
            <div class='col-4'>
                <div class='row'>
                    <button onclick="motorsOn()" class='col-6 btn btn-outline-success straight-border header-button'>Motors On</button>
                    <button onclick="motorsOff()" class='col-6 btn btn-outline-danger straight-border header-button'>Motors Off</button>
                </div>
                <div class='spacer'></div>
                <div class='row justify-content-center'>
                    <button onclick="forward()" id="forwardBtn" class='btn btn-outline-warning square-button'><img src='../static/images/Up.PNG' class='full-width'></button>
                </div>
                <div class='row justify-content-center'>
                    <button onclick="turnLeft()" id="leftBtn" class='btn btn-outline-warning square-button'><img src='../static/images/Left.PNG' class='full-width'></button>
                    <button onclick="stopMotors()" id="stopBtn" class='btn btn-outline-danger square-button'></button>
                    <button onclick="turnRight()" id="rightBtn" class='btn btn-outline-warning square-button'><img src='../static/images/Right.PNG' class='full-width'></button>
                </div>  
                <div class='row justify-content-center'> 
                    <button onclick="backward()" id="backwardBtn" class='btn btn-outline-warning square-button'><img src='../static/images/Down.PNG' class='full-width'></button>
                </div>
                <div class='spacer'></div>
                <div class='row'>
                    <h3 style='text-align: center'>Speed: <span id="speedSpan"></span></h3>
                    <input type="range" min="0" max="250" value="50" class="slider" id="speedSlider">
                    
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="../static/constants.js"></script>
    <script src="../static/websocket_handler.js"></script>
    <script src="../static/keypress_handler.js"></script>
</html>


<!-- jwc
            <div class='col-4 no-padding'>
                <img id='livestream' width=100%>
            </div>

            <div class='col-4'>
                <canvas id="lidarGraph" width="700" height="700"></canvas>
                <h3>Pixel Size: </h3>
                <input type="text" id="pixelSizeInput">
            </div>




-->